[submodule "vendor/extensions/paperclipped"]
	path = vendor/extensions/paperclipped
	url = git://github.com/kbingman/paperclipped.git
[submodule "vendor/extensions/simplymusic"]
	path = vendor/extensions/simplymusic
	url = git://github.com/arkima/simplymusic.git
